# Fast, reliable registry for networks in mainland China.
# Remove this line (or switch back to https://registry.npmjs.org) if you have
# unrestricted access to the public npm registry.
registry=https://registry.npmmirror.com
strict-peer-dependencies=false
